[project]
name = "template"
version = "0.1.0"
description = "Created via factory script"
authors = [
    {name = "Yuji"}
]
readme = "README.md"
requires-python = "^3.11"
dependencies = [
]


[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"
